/* This is an example of how to import a partial scss file*/

//editing my sccs to have a file changed for PR (LightHouse)


@import '_variables';

html {
  min-height: 100%;
  font-family: 'Creepster', cursive;
}

body {
  background-image: url('../images/background-red.png');
  // background-color: #cccccc;
}



img {
  height: 100%;
  width: 99%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border: 20px solid #DAA520;
}

h1 {
  font-size: 70px;
  font-family: 'Creepster', cursive;
  font-weight: 25;
  margin: 30px 10px 5px 10px;
  color: #f80505;
}


h4 {
  font-size: 24px;
  border: 5px solid black;
  background-color: white;
  margin-bottom: 10px;
}

nav {
  display: flex;
}

.nav-container {
  display: flex;
  flex: 1;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-dashboard {
//   display: flex;
//   justify-content: space-between;
display: grid;
grid-template-areas: "aside left"
                    "section right"

}

.button-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.buttons {
  width: 50%;
  height: 40%;
  align-self: center;
  margin: 0px 10px;
  border-radius: 40%;
  font-family: 'Creepster', cursive;
  font-weight: 100;
  font-size: large;
}

.photo-container {
  background-size: cover;
  // display: flex;
  // align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  text-align: center;
}

.footer-text {
  margin-top: 50px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  // background-color: #fefefe;
  // background-image: url('../images/jack-torrance-login.png');
  background-color: #8f2121;
  // opacity: 30%;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.hideModal {
  z-index:-1;
  opacity:0;
  animation: hide .25s;
  transform: scale(0);
} @keyframes hide {
  from {
    z-index:2;
    transform: scale(1);
    opacity:1;
  } to {
    z-index:-1;
    transform: scale(0);
    opacity:0;
  }
}

.showModal {
  display: block;
  z-index:2;
  opacity:1;
  animation: show 1.5s;
  transform: scale(1);
} @keyframes show {
  from {
    z-index:-1;
    transform: scale(0);
    opacity:0;
  } to {
    z-index:2;
    transform: scale(1);
    opacity:1;
  }
}

.hidden {
  display: none;
}

.booking-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.individual-button {
  font-family: 'Creepster', cursive;
  font-weight: 100;
  margin: 10px;
  height: 25px;
  width: 225px;
}

.book-stay {
  text-align: center;
  font-size: 24px;
}

.welcome-message {
  font-size: 25px;
  border: 5px solid black;
  margin-left: 20px;
  background-color: white;
}

.booking-search {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.twins-photo {
  height: 20%;
  width: 20%;
}

.login-form {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.booking-card {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  background-color: white;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  position: relative;
  
}

.total-cost {
  text-align: center;
  font-size: 20px;
  // border: 5px solid black;
}

.user-information {
  text-align: center;
  grid-area: aside;
}

.amount-spent {
  border: 5px solid black;
  background-color: white;
}

// .login-page {
//   background-image: url('../images/jack-torrance-login.png');
//   background-color: #f80505;
//   opacity: 30%;
// }

.welcome {
  margin-left: 16px;
}

.room-card {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  background-color: white;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.room-thumbnail {
  height: 150px;
  width: 150px;
}

.amount-text {
  border: none;
  padding: 5px;
}

.reservation-msg {
  text-align: center;
}

.book-room {
  // border: 5px solid black;
  // background-color: white;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
}

.close {
  font-size: 30px;
}

.available-rooms {
  display: grid;
}

.booking-form {
  border: 5px solid black;
  margin-bottom: 10px;
  background-color: white;
}

.book-room-button {
  font-family: 'Creepster', cursive;
  font-weight: 100;
  margin: 10px;
  height: 25px;
  width: 225px;
  // display: flex;
  // align-content: center;
}

.room-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  margin-bottom: 30px;
  margin-top: 40px;
}

.image-cost-type {
  display: flex;
  justify-content: space-around;
}

.type-price {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.book-room-container {
  // display: flex;
  margin-top: 50px;
}

.room-type,
.room-cost {
  margin: 3px;
  padding: 3px;
}

.room-bed-info {
  margin-top: 10px;
  list-style-type: none;
  padding: 30px;
}