@import '_variables';
@import '_mixins';

html {
  min-height: 100%;
  font-family: $main-font;
}

body {
  background-image: url('../images/background-red.png');
}

.flex-row {
  display: flex;
}

.flex-column {
  justify-content: flex-start;
  @include flex-column();
}

/* Image Section */

img {
  @include sizing(100%, 99%);
  display: block;
  @include margin-auto();
  margin-top: 5px;
  border: 20px solid #DAA520;
}

.photo-container {
  background-size: cover;
  display: block;
  @include margin-auto();
}

/* Navigation Bar Section */

h1 {
  font-size: 80px;
  font-family: $main-font;
  font-weight: 25;
  margin: 15px 10px 5px 10px;
  color: $blood-red;
  text-shadow: 5px 5px 5px black;
}

.nav-container {
  flex: 1;
}

.button-section {
  @include flex-row(flex-start);
  flex-direction: row;
}

.buttons {
  @include sizing(60%, 70%);
  align-self: center;
  transition-duration: 0.4s;
  margin: 0px 10px;
  border-radius: 40%;
  word-wrap: break-word;
  font-family: $main-font;
  font-weight: 100;
  font-size: large;
}

.buttons:hover {
  background-color: $black; 
  color: $blood-red;
  border: 5px solid #DAA520;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  @include sizing(100%, 100%);
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: $blood-red;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.hideModal {
  z-index:-1;
  opacity:0;
  animation: hide .25s;
  transform: scale(0);
} @keyframes hide {
  from {
    z-index:2;
    transform: scale(1);
    opacity:1;
  } to {
    z-index:-1;
    transform: scale(0);
    opacity:0;
  }
}

.showModal {
  display: block;
  z-index:2;
  opacity:1;
  animation: show 1.5s;
  transform: scale(1);
} @keyframes show {
  from {
    z-index:-1;
    transform: scale(0);
    opacity:0;
  } to {
    z-index:2;
    transform: scale(1);
    opacity:1;
  }
}

/* User Dashboard Section */

h4 {
  font-size: $font-size24;
  border: $default-border;
  background-color: $white;
  margin-bottom: 10px;
}

.user-dashboard {
display: grid;
grid-template-areas: "aside left"
                    "section right";

}

.booking-buttons {
  @include flex-column();
  align-items: center;
  margin: 40px;
}

.individual-button {
  font-family: $main-font;
  font-weight: 100;
  margin: 10px;
  @include sizing(25px, 225px);
}

.book-stay {
  text-align: center;
  font-size: $font-size24;
}

.welcome-message {
  font-size: 25px;
  border: $default-border;
  margin-left: 20px;
  background-color: $white;
  text-align: center;
}

.booking-search {
  @include flex-row(space-around);
  margin: 30px;
}

.booking-card {
  @include flex-column();
  border: $default-border;
  background-color: $white;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.total-cost {
  text-align: center;
  font-size: 20px;
}

.user-information {
  text-align: center;
  grid-area: aside;
}

.amount-spent {
  border: $default-border;
  background-color: $white;
}

.welcome {
  margin-left: 16px;
}

.room-card {
  @include flex-column();
  border: $default-border;
  background-color: $white;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.room-thumbnail {
  @include sizing(175px, 200px);
}

.amount-text {
  border: none;
  padding: 5px;
}

.login-message,
.reservation-msg {
  font-size: 22px;
}

.reservation-msg {
  text-align: center;
}

.book-room {
  margin: 20px 0px 0px 20px;
}

.login-text,
.close {
  font-size: 30px;
}

.available-rooms {
  display: grid;
}

.booking-form {
  border: $default-border;
  margin-bottom: 10px;
  background-color: $white;
}

.book-room-button {
  font-family: $main-font;
  font-weight: 100;
  margin: 10px;
  @include sizing(25px, 225px)
}

.room-info {
  @include flex-column();
  align-items: center;
  border: 3px solid black;
  margin: 40px 0px 0px 5px;
  padding: 7px;
}

.image-cost-type {
  @include flex-row(space-around);
}

.type-price {
  @include flex-column();
  margin-top: 5px;
}

.book-room-container {
  margin-top: 50px;
}

.room-type,
.room-cost {
  margin: 3px;
  padding: 3px;
}

.room-bed-info {
  margin-top: 10px;
  list-style-type: none;
  padding: 30px;
}

/* Login Section */

.login-section {
  @include flex-column();
  justify-content: center;
  align-items: center;
 }

.input-section {
  @include sizing(25px, 55%);
  border: 2px solid black;
}

.submit-login-button {
  @include sizing(50%, 15%);
  border: 2px solid black;
}

.twins-photo {
  @include sizing(20%, 20%)
}

.booking-input {
  margin: 0px 10px 0px 0px;
}

/* Footer Section */

.footer-container {
  text-align: center;
}

.footer-text {
  margin-top: 50px;
}

.hidden {
  display: none;
}
